<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>简</string>
		<key>filterName</key>
		<string>vsco_f2.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>盐I</string>
		<key>filterName</key>
		<string>vsco_c1.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>盐II</string>
		<key>filterName</key>
		<string>e002.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>盐III</string>
		<key>filterName</key>
		<string>vsco_lv1.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>青</string>
		<key>filterName</key>
		<string>c003.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>夏</string>
		<key>filterName</key>
		<string>l001.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>情绪灰</string>
		<key>filterName</key>
		<string>b004.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>暮</string>
		<key>filterName</key>
		<string>vsco_lv3.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>萤</string>
		<key>filterName</key>
		<string>z003.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>墨I</string>
		<key>filterName</key>
		<string>b001.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>墨II</string>
		<key>filterName</key>
		<string>b002.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>墨III</string>
		<key>filterName</key>
		<string>b003.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>雪梨町</string>
		<key>filterName</key>
		<string>AFF7.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少爷D1</string>
		<key>filterName</key>
		<string>AFF14.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少爷D2</string>
		<key>filterName</key>
		<string>AFF15.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>暮雪R2</string>
		<key>filterName</key>
		<string>AFF20.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>海螺壳I</string>
		<key>filterName</key>
		<string>AFF2.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>亲切K</string>
		<key>filterName</key>
		<string>AFF17.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>七七V1</string>
		<key>filterName</key>
		<string>AFF23.jpg</string>
	</dict>
</array>
</plist>
